In [1]:
import pandas as pd

In [10]:
data=pd.read_excel('Liste HAIKINTANA 2023.xlsx', )

,Numéro,Cotisation,Nom,Prénom(s),E-mail,Bénévolat,Pôles,Commentaire
0,HK-0000,NaN,RAZANAKOTO,Mializo,NaN,NaN,NaN,NaN
1,HK-0001,NaN,RAJAONARIVELO,Andoniaina,NaN,NaN,NaN,NaN
2,HK-0002,NaN,Ralambomamy,Tyffani,NaN,NaN,NaN,NaN
3,HK-0003,NaN,Rafieferantsoa,Deralaza,NaN,NaN,NaN,NaN
4,HK-0004,NaN,Rabarison,Toky,NaN,NaN,NaN,NaN