In [16]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

In [17]:
#établissement de la connexion à la base de données et création du curseur
conn = sqlite3.connect("haikintana.db")
c= conn.cursor()

In [18]:
#création des tables
c.execute("create table if not exists membres (ID text Primary Key, cotisation text, nom text, prénoms text, email text, bénévolat text, statut text, assiduité text)")
c.execute("create table if not exists activité(intitulé text Primary Key, date text, lieu text)")
c.execute("create table if not exists pôle(nom_pôle text Primary Key, nombre_activités integer)")

In [29]:
#importation des données à partir du fichier excel et transfert vers la base
data=pd.read_excel('C:/Users/Harivola RABEKOTO/Liste HAIKINTANA 2023.xlsx')
data=data.drop(['Pôles','Commentaire'], axis=1) #on ne prend pas en compte les deux dernières colonnes du fichier excel
data=data.rename(columns={'Numéro':'ID'}) #on change le label 'numéro' en 'ID' pour faire correspondre cette colonne à celle de la table
print(data)
data.to_sql('membres', conn, if_exists='replace',index=False)

         ID                  Cotisation                        Nom  \
0   HK-0000                         NaN                 RAZANAKOTO
1   HK-0001                         NaN              RAJAONARIVELO
2   HK-0002                         NaN                Ralambomamy
3   HK-0003                         NaN             Rafieferantsoa
4   HK-0004                         NaN                  Rabarison
5   HK-0005                        payé             Andriamandroso
6   HK-0006                         NaN                  Rakotoson
7   HK-0007                   durant AG                    RABEONY
8   HK-0008                   durant AG          Randriamanantena
9   HK-0009                   durant AG           RANDRIAMANANTENA
10  HK-0010               mvola(09mars)                 Rambeloson
11  HK-0011                   durant AG            IALISOLONDRAIBE
12  HK-0012                   durant AG         randrianandrasana
13  HK-0013                   durant AG            RANDRIAMANARIVO
14  HK-0014                         NaN         Randrianandrasana
15  HK-0015                         NaN  RAMILIJAONA FANIRIANTSOA
16  HK-0016                   durant AG              Ratisarijaona
17  HK-0017                         NaN                Andriamady
18  HK-0018                   durant AG              FITIA NEKENA
19  HK-0019                         NaN           Rakotondramanana
20  HK-0020                   durant AG              RAHARILAVITRA
21  HK-0021               mvola(09mars)            RAMANOELINIRINA
22  HK-0022                         NaN              RAZANADRAKOTO
23  HK-0023   18mars(formation lunette)                   Rabehaja
24  HK-0024                   durant AG         Andriantsialonina
25  HK-0025                   durant AG        Rakotonomenjanahary
26  HK-0026                         NaN             FITIA MANAMPY
27  HK-0027                         NaN   Noohrfadjan Bibi Ismaël
28  HK-0028                         NaN                 RAZANAKOTO
29  HK-0029                   durant AG            Randriamanalina
30  HK-0030                   durant AG           Randrianandraina
31  HK-0031                   durant AG            RANDRIAHARIMINO
32  HK-0032                   durant AG           RASOLOFOMANDIMBY
33  HK-0033             mvola (21 mars)               Rakotoarisoa
34  HK-0034                         NaN                  RABARISON
35  HK-0035                       mvola                  RABEKOTO
36  HK-0036                   Durant AG              RATSIMANDRESY
37  HK-0037                   Durant AG          NARINDRANJANAHARY
38  HK-0038                   durant AG                  RABARISOA
39  HK-0039                         NaN                    TANTELY
40  HK-0040                         NaN            RALAIMANAMPISOA
41  HK-0041          Mvola (20 fevrier)              RAZAFINDRAIBE
42  HK-0042               Mvola (02mai)                Rakotoarivo
43  HK-0043                         NaN                 RATSIZAFY
44  HK-0044                         NaN  RAMILIJAONA FANIRIANTSOA
45  HK-0045                         NaN         Randrianandrasana
46  HK-0046  18mars (formation lunette)                     Rakoto
47  HK-0047                         NaN             Rabemanotrona
48  HK-0048                   durant AG                Andriatiana
49  HK-0049                       mvola           NY ANDONAVALONA
50  HK-0050                       mvola             Randriamahaleo

                     Prénom(s)                                    E-mail  \
0                      Mializo                                       NaN
1                   Andoniaina                                       NaN
2                      Tyffani                                       NaN
3                    Deralaza                                        NaN
4                        Toky                                        NaN
5                      Mianoka                       mianoka@homemade.mg
6                     Ny Tsiky            rakotoson.ny.tsiky.m@gmail.com
7              Miora Heritiana                   miorahrabeony@gmail.com
8                      Herman                   herman.andriam@gmail.com
9                 Volasoa Elia                    eliavrandria@gmail.com
10         Koloina Razafinjato               rambelosonkoloina@gmail.com
11          Jean Miguel Haydon                    miguelhaydon@gmail.com
12            rojotiana daniel              rojotianadaniel805@gmail.com
13            Mamitina Rolando  mamitinarolandorandriamanarivo@gmail.com
14               Johariniaina                       007006abc@gmail.com
15                 Lanjaniaina                    lanjafaniry7@gmail.com
16                     Mickaël                  r.jaonamickael@gmail.com
17                Tysha Otanya                     Tyshaotanya@gmail.com
18                Tsiry Ny Avo                     fytianekena@gmail.com
19    Heriniaina tahina harvel                   ainaharvel924@gmail.com
20             Ando Heriniaina                   raharilavitra@gmail.com
21                          Zo               zoramanoelinirina@gmail.com
22          Mendrika Fitahiana             mendrikafitahiana19@gmail.com
23               Holy Danielle                       ampelagie@gmail.com
24              Miandra Edward                     miarana.raj@gmail.com
25                      Andréa      rakotonomenjanahary.andrea@gmail.com
26    Ny Antso Rivonantenaina                   tsirynasoavina@gmail.com
27                     Shaymah              Shaymahnoorhfabibi@gmail.com
28               Hasina Niaina                   hsnrazanakoto@gmail.com
29                     Mamisoa                 andriampirymami@gmail.com
30                     Andrea          andrearandrianandraina@gmail.com
31              Fitahianarisoa                 randriaharimino@gmail.com
32         Kanto Miora Jessica         jessicarasolofomandimby@gmail.com
33        Zo anja avotriniaina             avotrarakotoarisoa9@gmail.com
34               Dina Mandresy                dinamandresyrbrs@gmail.com
35   Harivola Ny Aina Céloréa                     harivolarnac@gmail.com
36        Fenosoa Andrianirina                   ratsimblaster@gmail.com
37                   Emmanuëla                   ing.emmanuela@gmail.com
38                Anjia Randia                      anjirandia@gmail.com
39                      Bénite                 benitetantely81@gmail.com
40  Herinandrianina Tojomanana               rherinandrianina@gmail.com
41               Olivier Ihary              iharyrazafindraibe@gmail.com
42                     Tanjona              rakotoarivotanjona@gmail.com
43      Lazandrainy Nathanael                       nratsizafy@gmail.com
44                 Lanjaniaina                    lanjafaniry7@gmail.com
45               Johariniaina   randrianandrasanajohariniaina@gmail.com
46               Tianaharivelo                    rakototiana4@gmail.com
47                     Fanoela                      fanoela011@gmail.com
48                        Mamy                   mamyandri2016@gmail.com
49           Hasina Gabrielle             nyandonavalonahasina@gmail.com
50              Mirana Baovola                        bbaovola@gmail.com

   Bénévolat
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        Non
8        Oui
9        Oui
10       Oui
11       Oui
12       Oui
13       Oui
14       Oui
15       Oui
16       Non
17       Oui
18       Oui
19       Oui
20       Oui
21       Non
22       Oui
23       Non
24       Non
25       Oui
26       Non
27       Oui
28       Oui
29       Oui
30       Oui
31       Oui
32       Oui
33       Oui
34       Oui
35       Oui
36       Oui
37       Oui
38       Oui
39       Oui
40       Non
41       Oui
42       Non
43       Oui
44       Oui
45       Oui
46       Non
47       Oui
48       Oui
49       Oui
50       Non

In [20]:
#remplissage de la table pôle
liste_pôles=[
    ('éducation',0),
    ('outreach',0),
    ('observation et instrumentation',0),
    ('développement et partenariat',0)
]
c.executemany("insert into pôle values(?,?)",liste_pôles)

IntegrityError: UNIQUE constraint failed: pôle.nom_pôle

In [34]:
#remplacement des valeurs nulles en un texte "aucun"
for i in c.execute('select* from membres'):
    for j in range (7):
        if isnull(i[j]):
            c.execute('update membres set i[j]= 'Aucun' ')

SyntaxError: invalid syntax (<ipython-input-34-9463c84802ed>, line 5)

In [31]:
#affichage d'informations
def info_membre(id_recherche):
    c.execute("select * from membres where (ID)= (?)",(id_recherche,))
    informations_membre=c.fetchall()
    #using for loop to move out of the list 
    for i in informations_membre:
        print('Nom: '+ i[2] + '\n'+
              'Prénoms: '+ i[3] + '\n'+
             'Contact: '+ i[4] + '\n'+
             'Cotisation: '+ i[1] + '\n'+
             'Bénévolat: '+ i[5] + '\n'+
             'Statut: '+ i[6] + '\n' +
             'Nombre d\'activités assistées: '+ str(i[7]) + '\n')
info_membre('HK-0000')

TypeError: can only concatenate str (not "NoneType") to str

In [32]:
#vérification base de données
for row in c.execute("select * from membres"):
    print(row)
for row in c.execute("select * from pôle"):
    print(row)

('HK-0000', None, 'RAZANAKOTO', 'Mializo', None, None)
('HK-0001', None, 'RAJAONARIVELO', 'Andoniaina', None, None)
('HK-0002', None, 'Ralambomamy', 'Tyffani', None, None)
('HK-0003', None, 'Rafieferantsoa', 'Deralaza ', None, None)
('HK-0004', None, 'Rabarison', 'Toky ', None, None)
('HK-0005', 'payé', 'Andriamandroso', 'Mianoka', 'mianoka@homemade.mg', None)
('HK-0006', None, 'Rakotoson', 'Ny Tsiky', 'rakotoson.ny.tsiky.m@gmail.com', None)
('HK-0007', 'durant AG', 'RABEONY', 'Miora Heritiana', 'miorahrabeony@gmail.com', 'Non')
('HK-0008', 'durant AG', 'Randriamanantena ', 'Herman ', 'herman.andriam@gmail.com', 'Oui')
('HK-0009', 'durant AG', 'RANDRIAMANANTENA', 'Volasoa Elia', 'eliavrandria@gmail.com', 'Oui')
('HK-0010', 'mvola(09mars)', 'Rambeloson', 'Koloina Razafinjato', 'rambelosonkoloina@gmail.com', 'Oui')
('HK-0011', 'durant AG', 'IALISOLONDRAIBE', 'Jean Miguel Haydon', 'miguelhaydon@gmail.com', 'Oui')
('HK-0012', 'durant AG', 'randrianandrasana ', 'rojotiana daniel', 'rojotianadaniel805@gmail.com', 'Oui')
('HK-0013', 'durant AG', 'RANDRIAMANARIVO', 'Mamitina Rolando', 'mamitinarolandorandriamanarivo@gmail.com', 'Oui')
('HK-0014', None, 'Randrianandrasana ', 'Johariniaina ', '007006abc@gmail.com ', 'Oui')
('HK-0015', None, 'RAMILIJAONA FANIRIANTSOA ', 'Lanjaniaina', 'lanjafaniry7@gmail.com', 'Oui')
('HK-0016', 'durant AG', 'Ratisarijaona', 'Mickaël', 'r.jaonamickael@gmail.com', 'Non')
('HK-0017', None, 'Andriamady ', 'Tysha Otanya', 'Tyshaotanya@gmail.com', 'Oui')
('HK-0018', 'durant AG', 'FITIA NEKENA ', 'Tsiry Ny Avo', 'fytianekena@gmail.com', 'Oui')
('HK-0019', None, 'Rakotondramanana', 'Heriniaina tahina harvel', 'ainaharvel924@gmail.com', 'Oui')
('HK-0020', 'durant AG', 'RAHARILAVITRA', 'Ando Heriniaina', 'raharilavitra@gmail.com', 'Oui')
('HK-0021', 'mvola(09mars)', 'RAMANOELINIRINA', 'Zo', 'zoramanoelinirina@gmail.com', 'Non')
('HK-0022', None, 'RAZANADRAKOTO', 'Mendrika Fitahiana', 'mendrikafitahiana19@gmail.com', 'Oui')
('HK-0023', '18mars(formation lunette)', 'Rabehaja', 'Holy Danielle', 'ampelagie@gmail.com', 'Non')
('HK-0024', 'durant AG', 'Andriantsialonina ', 'Miandra Edward', 'miarana.raj@gmail.com', 'Non')
('HK-0025', 'durant AG', 'Rakotonomenjanahary', 'Andréa', 'rakotonomenjanahary.andrea@gmail.com', 'Oui')
('HK-0026', None, 'FITIA MANAMPY ', 'Ny Antso Rivonantenaina ', 'tsirynasoavina@gmail.com', 'Non')
('HK-0027', None, 'Noohrfadjan Bibi Ismaël ', 'Shaymah', 'Shaymahnoorhfabibi@gmail.com', 'Oui')
('HK-0028', None, 'RAZANAKOTO', 'Hasina Niaina', 'hsnrazanakoto@gmail.com', 'Oui')
('HK-0029', 'durant AG', 'Randriamanalina', 'Mamisoa', 'andriampirymami@gmail.com', 'Oui')
('HK-0030', 'durant AG', 'Randrianandraina', 'Andrea ', 'andrearandrianandraina@gmail.com ', 'Oui')
('HK-0031', 'durant AG', 'RANDRIAHARIMINO', 'Fitahianarisoa', 'randriaharimino@gmail.com', 'Oui')
('HK-0032', 'durant AG', 'RASOLOFOMANDIMBY', 'Kanto Miora Jessica', 'jessicarasolofomandimby@gmail.com', 'Oui')
('HK-0033', 'mvola (21 mars)', 'Rakotoarisoa', 'Zo anja avotriniaina', 'avotrarakotoarisoa9@gmail.com', 'Oui')
('HK-0034', None, 'RABARISON', 'Dina Mandresy', 'dinamandresyrbrs@gmail.com', 'Oui')
('HK-0035', 'mvola', 'RABEKOTO ', 'Harivola Ny Aina Céloréa ', 'harivolarnac@gmail.com', 'Oui')
('HK-0036', 'Durant AG', 'RATSIMANDRESY', 'Fenosoa Andrianirina', 'ratsimblaster@gmail.com', 'Oui')
('HK-0037', 'Durant AG', 'NARINDRANJANAHARY', 'Emmanuëla', 'ing.emmanuela@gmail.com', 'Oui')
('HK-0038', 'durant AG', 'RABARISOA', 'Anjia Randia', 'anjirandia@gmail.com', 'Oui')
('HK-0039', None, 'TANTELY', 'Bénite', 'benitetantely81@gmail.com', 'Oui')
('HK-0040', None, 'RALAIMANAMPISOA', 'Herinandrianina Tojomanana', 'rherinandrianina@gmail.com ', 'Non')
('HK-0041', 'Mvola (20 fevrier)', 'RAZAFINDRAIBE', 'Olivier Ihary', 'iharyrazafindraibe@gmail.com', 'Oui')
('HK-0042', 'Mvola (02mai)', 'Rakotoarivo', 'Tanjona', 'rakotoarivotanjona@gmail.com', 'Non')
('HK-0043', None, 'RATSIZAFY ', 'Lazandrainy Nathanael ', 'nratsizafy@gmail.com', 'Oui')
('HK-0044', None, 'RAMILIJAONA FANIRIANTSOA ', 'Lanjaniaina', 'lanjafaniry7@gmail.com', 'Oui')
('HK-0045', None, 'Randrianandrasana ', 'Johariniaina ', 'randrianandrasanajohariniaina@gmail.com ', 'Oui')
('HK-0046', '18mars (formation lunette)', 'Rakoto', 'Tianaharivelo', 'rakototiana4@gmail.com', 'Non')
('HK-0047', None, 'Rabemanotrona ', 'Fanoela', 'fanoela011@gmail.com', 'Oui')
('HK-0048', 'durant AG', 'Andriatiana', 'Mamy', 'mamyandri2016@gmail.com', 'Oui')
('HK-0049', 'mvola', 'NY ANDONAVALONA ', 'Hasina Gabrielle ', 'nyandonavalonahasina@gmail.com', 'Oui')
('HK-0050', 'mvola', 'Randriamahaleo', 'Mirana Baovola', 'bbaovola@gmail.com', 'Non')
('éducation', 0)
('outreach', 0)
('observation et instrumentation', 0)
('développement et partenariat', 0)

In [11]:
#fermeture de la connexion
conn.close()